{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">

            <img src="uploads/{{gift.img  }}" class="img-responsive img-thumbnail">
            <h1>{{ gift.name }}</h1>
        </div>
        <div class="col-md-5">
            <p>{{ gift.description }}</p>
        </div>
    </div>
{% endblock %}